*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: #f8f9f9;
}

.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container{
  position: relative;
  overflow: hidden;

  width: 1194px;
  height: 834px;

  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 24px rgba(163, 163, 163, 0.1);
}

/*배경*/
.background{
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: -20;
}

.backgroundColor{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/*스플래시*/
.splashTitle{
  width: 476px;
  height: 134px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, 0);
}

.splashSubTitle{
  font-size: 20px;
  font-weight: 700;
  line-height: 180%;

  text-align: center;
  color: #fff;

  position: absolute;
  top: 416px;
  left: 50%;
  transform: translate(-50%, 0);
}

.splashButton{
  width: 360px;
  height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #EBFF6F;
  border-radius: 12px;

  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, 0);
}

.splashButton a{
  width: 360px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #545454;
  line-height: 56px;
  vertical-align: middle;
  cursor: pointer;
}

.splashButton:hover{
  background-color: #F3FFA9;
}

/*로그인 창*/
.loginTitle{
  font-size: 32px;
  font-weight: 900;
  line-height: 150%;
  text-align: center;

  color: #333;

  position: absolute;
  top: 132px;
  left: 50%;
  transform: translate(-50%, 0);
}

.memberType{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;

  position: absolute;
  top: 216px;
  left: 50%;
  transform: translate(-50%, 0);
}

.member{
  color: #545454;
}

.nonMember{
  color: #9c9c9c;
  text-decoration: none;
}

.loginInput{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px; 
  position: absolute;
  top: 276px;
  left: 50%;
  transform: translate(-50%, 0);
}

.loginInput input{
  width: 328px;
  height: 48px;

  border: 1px solid #949494;
  border-radius: 2px;
  padding: 16px;
}

.idSave{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 328px;
  left: 50%;
  top: 396px;
  transform: translate(-50%, 0);
}

.idSave input{
  width: 20px;
  height: 20px;

  border: 1px solid #C4C4C4;
  border-radius: 2px;

  cursor: pointer;
}

.loginButton{
  width: 328px;
  height: 64px;
  background-color: #222222;
  border: 1px solid #222222;
  border-radius: 2px;
  text-align: center;

  position: absolute;
  top: 432px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all ease 0.3s;

  cursor: pointer;
}

.loginButton:hover{
  opacity: 50%;
}

.loginButton a{
  display: inline-block;
  width: 328px;
  height: 64px;
  font-size: 16px;
  font-weight: 500;
  line-height: 64px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.idInfo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  top: 532px;
  left: 50%;
  transform: translate(-50%, 0);
}

.idInfo a{
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #545454;
}


.naverButton{
  width: 328px;
  height: 53px;

  background-color: #1CC32C;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;

  position: absolute;
  top: 580px;
  left: 50%;
  transform: translate(-50%, 0);

  transition: all ease 0.3s;

  cursor: pointer;
}

.naverButton p{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.naverButton:hover{
  background-color: #92DE99;
}

.kakaoButton{
  width: 328px;
  height: 53px;

  background-color: #FCE400;
  border-radius: 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 6px;

  position: absolute;
  top: 641px;
  left: 50%;
  transform: translate(-50%, 0);

  transition: all ease 0.3s;

  cursor: pointer;
}

.kakaoButton p{
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.kakaoButton:hover{
  opacity: 60%;
}

/*테스트 창*/

.testSlider{
  width: 2840px;
  transition: transform 0.5s;

}

.testWrapper{
  width: 565px;
  float: left;
  margin-right: 145px;
}

.testContainer1{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transition: all ease 0.7s;
}

.testContainer2{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.testContainer3{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.testContainer4{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.number{
  width: 64px;
  height: 36px;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%, 0);
}

.title{
  position: absolute;

  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 400px;

  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
  color: #333;
}

.answers-wrapper{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);

}

.page{
  position: absolute;
  
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 32px;
  height: 8px;
}

.back1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  left: 36px;
  bottom: 32px;

  cursor: pointer;
}

.back2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  left: 36px;
  bottom: 32px;

  cursor: pointer;
}

.back3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  left: 36px;
  bottom: 32px;
}

.back p{
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;

  text-align: center;

  color: #555;
}


/*테스트 버튼*/
.answers{
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 260px;
  height: 260px;

  cursor: pointer;
}

.selection{
  width: 120px;
  height: 120px;

  border: 1px solid #D9D9D9;
  border-radius: 8px;

}

.selection:hover{
  background-color: #EBFF6F;
  transition: all ease 0.5s;
}

.selection p{
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 120px;
  vertical-align: middle;
}

.a1{
  position: absolute;
  top: 0;
  left: 0;
}

.a2{
  position: absolute;
  top: 0;
  right: 0;
}

.a3{
  position: absolute;
  bottom: 0;
  left: 0;
}

.a4{
  position: absolute;
  bottom: 0;
  right: 0;
}

.test{
  width: 565px;
  height: 548px;
  margin-left: auto;
  margin-right: auto;
}

.test-flex{
  height: 100%;
  display: flex;
  align-items: center;
}

.result{
  position: absolute;

  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 320px;

  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  color: #333;
  text-align: center;
}

.resultImg{
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 120px;
  height: 44px;
}

/*테스트 결과 버튼*/
.button{
  position: absolute;

  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 272px;
  height: 56px;

  background-color: #EBFF6F;
  border-radius: 8px;
  text-align: center;

  transition: all ease 0.3s;
}

.button a{
  display: inline-block;
  width: 272px;
  height: 56px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #545454;
  line-height: 56px;
  vertical-align: middle;
}

.button:hover{
  opacity: 50%;
}