*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: #f8f9f9;
}

.wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container{
  position: relative;
  overflow: hidden;

  width: 1194px;
  height: 834px;

  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 24px rgba(163, 163, 163, 0.1);
}

/*배경*/
.background{
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: -20;
}

.testSlider{
  width: 2840px;
  transition: transform 0.5s;

}

.testWrapper{
  width: 565px;
  float: left;
  margin-right: 145px;
}

/*테스트 창*/
.testContainer1{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transition: all ease 0.7s;
}

.testContainer2{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.testContainer3{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.testContainer4{
  position: relative;

  width: 565px;
  height: 548px;
  
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;

  transform: scale(0.75);
  transition: all ease 0.7s;
  filter: blur(2px);
}

.number{
  width: 64px;
  height: 36px;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%, 0);
}

.title{
  position: absolute;

  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 400px;

  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
  color: #333;
}

.answers-wrapper{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);

}

.page{
  position: absolute;
  
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 32px;
  height: 8px;
}


/*테스트 버튼*/
.answers{
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 260px;
  height: 260px;

  cursor: pointer;
}

.selection{
  width: 120px;
  height: 120px;

  border: 1px solid #D9D9D9;
  border-radius: 8px;

}

.selection:hover{
  background-color: #EBFF6F;
  transition: all ease 0.5s;
}

.selection p{
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 120px;
  vertical-align: middle;
}

.a1{
  position: absolute;
  top: 0;
  left: 0;
}

.a2{
  position: absolute;
  top: 0;
  right: 0;
}

.a3{
  position: absolute;
  bottom: 0;
  left: 0;
}

.a4{
  position: absolute;
  bottom: 0;
  right: 0;
}

.test{
  width: 565px;
  height: 548px;
  margin-left: auto;
  margin-right: auto;
}

.test-flex{
  height: 100%;
  display: flex;
  align-items: center;
}

.result{
  position: absolute;

  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 320px;

  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  color: #333;
  text-align: center;
}

.resultImg{
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 120px;
  height: 44px;
}

/*테스트 결과 버튼*/
.button{
  position: absolute;

  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 272px;
  height: 56px;

  background-color: #EBFF6F;
  border-radius: 8px;
  text-align: center;
}

.button a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #545454;
  line-height: 56px;
  vertical-align: middle;
}